<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sitetemplate</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!--** jQuery **-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>

    <!--** Bootstrap **-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!--** other CSS **-->
    <!--<link rel="stylesheet" type="text/css" href="example.css">-->
    <style type="text/css">
    </style>

    <!--** other JavaScript **-->
    <!--<script type="text/javascript" src="example.js"></script>-->
  </head>
  <body>
    <header>
      <div class="container header-container">
        <div class="header-inner">
          <h1 class="header-logo"><a href="/">
              <%= image_tag "sitetemplate-logo-small.png", :alt => "sitetemplate" %>
            </a></h1>
        </div>
      </div>
      </div>
    </header>

    <nav>
      <div class="container nav-container">
        <ul class="navbar">
        </ul>
      </div>
    </nav>

    <section class="main">
      <div class="container">
        <main>
        <div class="error-message">
          <h1 class="error-head">只今メンテナンス中です。</h1>
          <p class="error-kao">
          申し訳ありませんが、もう少々お待ちくださいm(__)m
          </p>
        </div>
        </main>
      </div>
    </section>

    <footer>
      <div class="container footer-container">
        <ul class="footer-nav">
        </ul>
        <p class="footer-copyright">
        <%= image_tag "sitetemplate-logo-small.png", :alt => "sitetemplate" %>
        </p>
      </div>
    </footer>
  </body>
</html>
