// Place all the styles related to the TopPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";

// === initialize start ===
html {
  font-size: 16px;
  font-family: sans-serif;
  color: #393939;
  // background: #efefef;  // bug
  background: #fff;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: #393939;
  background: #efefef;
  margin: 0;
  padding: 0;
}

div, p, h1, h2, h3, h4, ol, ul, figure {
  margin: 0;
  padding: 0;
}

p, td, th, li {
  line-height: 2.0;
  word-break: break-all;
}

img {
  width: 100%;
  height: auto;
}

// === initialize end ===

main h1 {
  margin-bottom: 1rem;
  //border-bottom: 1px dashed # c84040;
  font-weight: normal;
  font-size: 2.4rem;
}

main h2 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2.2rem;
}

main h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 2.0rem;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


// === header & navbar ===
header {
  background: #a1b1ca; //pink
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  //padding: 10px 0;
  width: 160px;
  height: 50px;
}

.menu-btn {
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background: asset-url("hamburger.png") no-repeat center center;
  background-size: contain;
  -webkit-tap-highlight-color: rgba(80, 80, 80, 0.5);
}

nav {
  background: #393939;
}

.navbar {
  display: none;
  list-style-type: none;
  a {
    display: block;
    padding: 0.8em 0 0.6em 0; /* 謎の空白 */
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #808080;
      background: #a1b1ca;
      border-radius: 4px;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .navbar {
    display: flex !important;
    margin-bottom: 0 !important; /*bootstrap use margin-bottom*/
    li {
      flex: 1 1 auto;
      text-align: center;
    }
    a.nav-current {
      background: #a1b1ca;
    }
  }
}

// === main ===
.new, .popular {
  text-align: left;
}

.maru {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column;
  vertical-align: top;
}

.size {
  width: 30px;
  height: 30px;
}

.rank {
  font-size: 1em;
  line-height: 1.5em;
}

.color {
  color: #f7deaf;
  border: 1px solid #a1b1ca;
}

@media screen and (max-width: 768px) {
  .maru {
    float: left;
    margin-right: 6px;
  }
  .rank {
    text-align: left;
  }
}

.post-top3, .new-content {
  text-align: center;
  margin: 0 auto;
  list-style-type: none;

  a {
    color: #774535;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      color: #fff;
      text-decoration: none;
    }
  }

  .name {
    font-size: 1.2em;
    padding-top: 10px;
  }

  .view {
    padding-right: 10px;
    display: inline-block;
    padding: 0 1rem 0 0;
  }

  .good {
    padding-right: 10px;
    display: inline-block;
    padding: 0 1rem 0 0;
  }

  .comment {
    padding-right: 40px;
    display: inline-block;
    padding: 0 1rem 0 0;
  }

  .post-time {
    display: inline-block;
    padding: 0 1rem 0 0;
  }
}


.post-top3, .new-content {
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
}

.post-top3 li, .new-content li {
  position:relative;
  margin: 7px 0 0px 0px;
  padding-left:40px;
  font-size:14px;
  line-height: 30px;
  border: solid 1px #a1b1ca;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.post-top3 li:before, .new-content li:before {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height:30px;
  background: #a1b1ca;
  border-radius: 50%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-top3 li:hover, .new-content li:hover {
  background: #a1b1ca;
  color: #fff;
}

.post-top3 li:hover:before, .new-content li:hover:before {
  background: #fff;
  color: #a1b1ca;
}

@media screen and (max-width: 768px) {
  .post-top3 .name, .new-content .name {
    text-align: left;
  }

  .post-top3 .info, .new-content .info {
    font-size: 0.8em;
    text-align: left;
  }

  .post-top3 .view {
    padding-right: 4px;
  }

  .post-top3 .good {
    padding-right: 4px;
  }

  .post-top3 .comment {
    padding-right: 20px;
  }
}

.square_btn {
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.75em 1em;
  text-decoration: none;
  color: #FFF;
  background: #a1b1ca;
  transition: .4s;
}

.square_btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #FFF;
  -webkit-tap-highlight-color: rgba(80, 80, 80, 0.5);
}

.useful-button {
  padding: 20px 0;

  h3 {
    margin: 20px auto !important;
  }
}

.about-img {
  padding-bottom: 30px;
}

.background-top {
  background: asset-url("background-top-small.jpg") 0 0 no-repeat;
  padding-bottom: calc(100% * 719 / 899);
  background-size: 100% auto;
}

.background-about {
  background: asset-url("background-about-small.jpg") 0 0 no-repeat;
  padding-bottom: calc(100% * 719 / 899);
  background-size: 100% auto;
}

@media screen and (min-width: 768px) {
  .background-top {
    background-image: asset-url("background-top.jpg");
    padding-bottom: calc(100% * 720 / 1280);
    background-size: 100% auto;
  }

  .background-about {
    background-image: asset-url("background-about.jpg");
    padding-bottom: calc(100% * 720 / 1280);
    background-size: 100% auto;
  }
}

// === footer ===

footer {
  background: #a1b1ca; //pink
  font-size: 0.9em;
  color: #fff;
}

.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-nav {
  list-style-type: none;
  li {
    display: inline;
    padding: 0 1rem 0 0;
  }
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    &:active {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}


.footer-copyright {
  img {
    box-sizing: border-box;
    width: 9em;
    height: 1em;
  }
}


// footer固定
@media screen and (min-width: 768px) {
  body, html {
    height: 100%;
  }

  .container {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
  }

  main {
    padding-bottom: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
}

.error-message {
  text-align: center;

  .error-head {
    font-size: 2em;
    color: #f7deaf;
  }

  .error-kao {
    font-size: 2em;
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .error-message {
    text-align: center;

    .error-head {
      font-size: 6em;
      color: #f7deaf;
    }

    .error-kao {
      font-size: 5em;
      padding-top: 30px;
    }
  }
}

.animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.last-message {
  position: absolute;
  top: calc(50% - 185px);
  left: calc(50% - 185px);
  width: 370px;
  height: 370px;
  line-height: 370px;
  text-align: center;
  font-size: 1.3rem;
  opacity: 0;
}

#slider {
  position: absolute;
  top: calc(50% - 185px);
  left: calc(50% - 185px);
  width: 370px;
  height: 370px;
}

.animation-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  height: 100%;
}

.animation-image:after {
  content: "";
  display: block;
  width: 370px;
  height: 370px;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .last-message {
    font-size: 2rem;
  }

  #slider {
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    width: 500px;
    height: 500px;
  }

  .animation-image:after {
    width: 500px;
    height: 500px;
  }
}

.animation-image:nth-child(1):after { background-image: asset-url("kao1.png"); }
.animation-image:nth-child(2):after { background-image: asset-url("kao2.png"); }
.animation-image:nth-child(3):after { background-image: asset-url("kao3.png"); }
.animation-image:nth-child(4):after { background-image: asset-url("kao4.png"); }
.animation-image:nth-child(5):after { background-image: asset-url("icon.png"); }

.animation-paint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animation-paint div {
  width: 100%;
  height: 25%;
  background-color: #fff;
}

.animation-div1 {
  transform: translateX(-100%);
}

.animation-div2 {
  transform: translateX(100%);
}

.animation-div3 {
  transform: translateX(-100%);
}

.animation-div4 {
  transform: translateX(100%);
}

// animation
.animation-image:nth-child(1) { animation: show-image 0.5s ease 0.5s forwards; }
.animation-image:nth-child(2) { animation: show-image 0.5s ease 0.7s forwards; }
.animation-image:nth-child(3) { animation: show-image 0.5s ease 0.9s forwards; }
.animation-image:nth-child(4) { animation: show-image 0.5s ease 1.1s forwards; }
.animation-image:nth-child(5) { animation: show-image 0.8s ease 1.3s forwards; }

.animation-paint div:nth-child(1) { animation: slide-right 0.5s ease 2.1s forwards; }
.animation-paint div:nth-child(2) { animation: slide-left 0.5s ease 2.2s forwards; }
.animation-paint div:nth-child(3) { animation: slide-right 0.5s ease 2.3s forwards; }
.animation-paint div:nth-child(4) { animation: slide-left 0.5s ease 2.4s forwards; }

.last-message { animation: finish 1.0s ease 2.9s forwards; }
.all-elements { animation: finish 1.0s ease 3.5s forwards; }

// keyframes
@keyframes show-image {
  from { width: 0%; }
  to   { width: 100%; }
}

@keyframes slide-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0%); }
}

@keyframes slide-left {
  from { transform: translateX(100%); }
  to   { transform: translateX(0%); }
}

@keyframes finish {
  from { opacity: 0; }
  to   { opacity: 1.0; }
}
